body {
    background-color: white;
    color: black;
}

h1 {
    text-decoration: underline;
}

#bodyWrap {
    float: left;
    margin-left: 15%;
    margin-top: 1%;
    border: groove black 10px;
    padding: 0.3em 1em;
    width: 75%;
}