
#badDomainPics div{
    float: left;
    margin-left: 5em;
}

#badDomainPics div img {
    position: absolute;
}

#goodDomainPics div {
    float: right;
    margin-right: 20em;
}

#goodDomainPics div img {
    position: absolute;
}