body {
    background-color: white;
    color: black;
}

#domainExplain {
    margin: auto;
    width: 30%;
    padding: 1em;
}

#goodDomain, #badDomain {
    margin: auto;
    width: 30%;
    padding: 1em;
}

#goodDomain p, #badDomain p {
    margin: auto;
    font-style: italic;
}


