
body {
    background-color: white;
    color: black;
}

div {
    float: left;
    margin-right: 1em;
    padding-left: 1em;
    width: 25%;
    border: groove;
    border-width: 1em;
    border-color: black;
}

h1 {
    text-decoration: underline;
}

#navMenu {
    text-align: left;
    width: 35%;
}

#navMenu li {
    list-style: square;
    font-size: 2.5em;
}

#navMenu a:link {
    text-decoration: none;
}

#navMenu a:visited {
    list-style: square;
    color: black;
    font-size: 2em;
    text-decoration: none;
}

#navMenu a:hover {
    text-decoration: underline;
}