
#infoCode {
    margin-left: 10%;
    margin-top: 5%;
}

/*******************All Code Styles*****************/
 #badCode, #goodCode {
    display: block;
    position: relative;
    width: 20%;
    border: dashed;
    border-width: 3px;
    padding: 1em;
    /*float: left;*/
    margin: 2em;
}

 #badCode {
     float: left;
 }

 #goodCode {
     float: right;
 }


/******************Code Explanation Styles**********/
#explainCode {
    display: block;
    position: relative;
    float: left;
    text-align: center;
    width: 30%;
}

#explainCode div {
    width: 100%;
    top: 0;
    left: 0;
    border: solid;
    border-width: 3px;
    position: absolute;
}


/* Styles in the bad code to highlight improper code techniques */ 
span.badText {
    background-color: rgb(255, 0, 0);
}

span.badText:hover {
    background-color: rgb(255, 128, 128);
}


/*Styles in good code to highlight differences from bad code */
span.goodText {
    background-color: rgb(51, 204, 51);
}

span.goodText:hover {
    background-color: rgb(152, 230, 152);
}