ul {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

li {
    width: 6%;
    font-size: 14px;
    list-style: none;
    display: block;
    float: left;
    clear: left;
    border: black solid 3px;
    padding: 0.5em 0.5em;
    color: black;
    background-color: white;
}

li a {
    text-decoration: none;
    color: black;
}

li a:visited {
    text-decoration: none;
    color: black;
}

li a:hover {
    text-decoration: underline;
}