

#badDesign, #goodDesign {
    margin: auto;
    width: 30%;
    padding: 1em;
    border: dashed;
    border-width: 3px;
    overflow: hidden;
}

#fieldNames {
    display: block;
    float: left;
    clear: left;
}

#fieldInputs {
    display: block;
    float: right;
    clear: right;
}

#designExplain {
    margin: auto;
    width: 30%;
    padding: 1em;
    overflow: hidden;
}