
div * {
    display: inline;
}

/*******Bad Design Styles*****/

div.badDesign {
    margin: auto;
    width: 35%;
    border: dashed;
    border-width: 3px;
}

div.badDesign p {
    padding: 1em;
    text-align: left;
}

div.badDesign input {
    padding: 1em;
}


/*******Good Design Styles*/
div.goodDesign {
    margin: auto;
    width: 35%;
    border: dashed;
    border-width: 3px;
}

div.goodDesign p {
    text-align: left;
}
